{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"IsCallable",
				"GetIntrinsic",
				"CreateDataPropertyOrThrow",
				"IsConstructor",
				"NewPromiseCapability",
			]
		}],
		"sort-keys": 0,
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"func-style": 0,
				"max-lines-per-function": 0,
				"max-params": 0,
				"no-invalid-this": 0,
			},
		},
	],
}
