name: 'Tests: node.js: native'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@main
    with:
      range: '>= 22'
      type: minors
      command: npm run test:native
